In [2]:
# Import main libraries
import sqlite3
import pandas as pd
import sqlalchemy as db

In [ ]:
# Conectarse a la url que contiene el archivo CSV de medallas olímpicas
df = pd.read_csv('http://winterolympicsmedals.com/medals.csv')
df

In [ ]:
# Descargar los datos y obtener un sub dataset que contenga atodas las medallas de oro (Gold) Estados Unidos (USA) 
#a partir del año 1950.
gold=df[(df['Medal'] == 'Gold') & (df['NOC'] == 'USA') & (df['Year'] >= 1950)]
gold

In [34]:
# Crear una conexión a la base de datos
conn = sqlite3.connect('olympics.db')

# Crear un cursor
cursor = conn.cursor()

In [35]:
# Crear una tabla medals
query = """CREATE TABLE IF NOT EXISTS medals (
             Year INTEGER,
             City TEXT,
             Sport TEXT,
             Discipline TEXT,
             NOC TEXT,
             Event TEXT,
             'Event gender' TEXT,
             Medal TEXT
            )"""

cursor.execute(query)
conn.commit()

In [29]:
#Guardar en la base de datos. los datos generados en el sub dataset
gold.to_sql('medal', con = conn, if_exists='replace')

In [ ]:
# Seleccionar todos los datos utilizando fetchall
query = "SELECT * FROM medal"
cursor.execute(query)
results = cursor.fetchall()
for r in results:
    print(r)